/* line 1, ../sass/base/_base.scss */
.visibility-hidden {
  visibility: hidden; }

/* line 7, ../sass/base/_base.scss */
.md_no-touch a:hover {
  color: #ff0900; }

/* line 13, ../sass/base/_base.scss */
strong {
  font-weight: bold; }

/* line 18, ../sass/base/_base.scss */
.col-md-3.not-aligned {
  position: absolute;
  width: 300px;
  display: none; }
@media (min-width: 768px) {
  /* line 24, ../sass/base/_base.scss */
  .col-md-3.not-aligned {
    z-index: 15;
    padding-left: 0px !important;
    margin-left: -2px;
    display: block;
    transform: translate(-283px, 0); }
    /* line 30, ../sass/base/_base.scss */
    .col-md-3.not-aligned .region-left-sidebar {
      opacity: 0.9; }
    /* line 33, ../sass/base/_base.scss */
    .col-md-3.not-aligned .categories-trigger {
      float: right;
      height: 201px;
      width: 50px;
      background: #232323;
      border-left: 2px solid #a8201b;
      border-radius: 0px 5px 5px 0;
      display: block; }
      /* line 41, ../sass/base/_base.scss */
      .col-md-3.not-aligned .categories-trigger h3 {
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #fff;
        padding-left: 32px; } }
@media (min-width: 1740px) {
  /* line 50, ../sass/base/_base.scss */
  .col-md-3.not-aligned {
    margin-left: 0;
    transform: translate(0, 0); }
    /* line 53, ../sass/base/_base.scss */
    .col-md-3.not-aligned .categories-trigger {
      display: none; } }

/* line 59, ../sass/base/_base.scss */
.categories-trigger {
  display: none; }

@media (min-width: 768px) {
  /* line 63, ../sass/base/_base.scss */
  .categories-trigger {
    float: left;
    height: 201px;
    width: 50px;
    background: #232323;
    border-left: 2px solid #a8201b;
    border-radius: 0px 5px 5px 0;
    display: block;
    z-index: 5;
    position: absolute;
    cursor: pointer; }
    /* line 74, ../sass/base/_base.scss */
    .categories-trigger h3 {
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      color: #fff;
      padding-left: 32px; }

  /* line 80, ../sass/base/_base.scss */
  .categories-trigger-2 {
    float: right;
    height: 201px;
    width: 50px;
    background: #232323;
    border-left: 2px solid #a8201b;
    border-radius: 0px 5px 5px 0;
    display: block;
    z-index: 5; }
    /* line 89, ../sass/base/_base.scss */
    .categories-trigger-2 h3 {
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      color: #fff;
      padding-left: 32px; } }
@media (min-width: 1740px) {
  /* line 97, ../sass/base/_base.scss */
  .categories-trigger, .categories-trigger-2 {
    display: none; } }
/* line 102, ../sass/base/_base.scss */
.wrapper .col-md-3 {
  display: none; }
/* line 105, ../sass/base/_base.scss */
.wrapper .col-lg-9 {
  width: 100%; }
@media (min-width: 992px) {
  /* line 109, ../sass/base/_base.scss */
  .wrapper .col-lg-9 {
    width: 100%; } }

/* line 115, ../sass/base/_base.scss */
.ssm-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 10; }

/* line 2, ../sass/base/_fields.scss */
.field.field-label-inline .field-label {
  display: inline; }
/* line 6, ../sass/base/_fields.scss */
.field.field-label-inline .field-items {
  display: inline; }
/* line 10, ../sass/base/_fields.scss */
.field.field-label-inline .field-item {
  display: inline; }

/* line 1, ../sass/base/_forms.scss */
select {
  background-color: #F5F7F8;
  background-image: url("../icons/select-icon.png");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 12px;
  border: 2px solid #E4E4E2;
  cursor: pointer;
  min-width: 75px;
  transition: border-color 0.4s ease 0s;
  z-index: 1;
  padding: 7px 25px 8px 10px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none; }

@media (min-width: 481px) {
  /* line 18, ../sass/base/_forms.scss */
  select {
    width: auto;
    max-width: 305px; } }
/* line 2, ../sass/base/_lists.scss */
.views-field-description ul {
  margin: 1em 0;
  padding-left: 20px; }
  /* line 6, ../sass/base/_lists.scss */
  .views-field-description ul > li {
    list-style-type: disc; }
    /* line 9, ../sass/base/_lists.scss */
    .views-field-description ul > li > ul {
      margin: 0; }
      /* line 12, ../sass/base/_lists.scss */
      .views-field-description ul > li > ul > li {
        list-style-type: circle; }

/* line 1, ../sass/base/_media.scss */
img, media {
  max-width: 100%; }

/* line 1, ../sass/base/_page.scss */
.page_content_offset {
  padding: 0; }
  @media (min-width: 992px) {
    /* line 1, ../sass/base/_page.scss */
    .page_content_offset {
      padding: 0 0 60px; } }

/* line 9, ../sass/base/_page.scss */
h2.page-title {
  line-height: 1.5em;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

/* line 15, ../sass/base/_page.scss */
.main-wrapper {
  margin-top: 20px; }

/* line 21, ../sass/base/_page.scss */
.wrapper .col-lg-9.active {
  min-height: 2160px; }
@media (min-width: 1740px) {
  /* line 20, ../sass/base/_page.scss */
  .wrapper .col-lg-9 {
    min-height: 2160px; } }

/* line 2, ../sass/base/_typography.scss */
.field-name-body h2,
.field-name-body h3,
.field-name-body h4,
.field-name-body h5,
.field-name-body h6 {
  margin-bottom: 1em; }
/* line 10, ../sass/base/_typography.scss */
.field-name-body p {
  margin-bottom: 1em; }
/* line 14, ../sass/base/_typography.scss */
.field-name-body ul {
  margin: 1em 0;
  padding-left: 20px; }
  /* line 18, ../sass/base/_typography.scss */
  .field-name-body ul > li {
    list-style-type: disc; }
    /* line 21, ../sass/base/_typography.scss */
    .field-name-body ul > li > ul {
      margin: 0; }
      /* line 24, ../sass/base/_typography.scss */
      .field-name-body ul > li > ul > li {
        list-style-type: circle; }

/* line 32, ../sass/base/_typography.scss */
a {
  color: #a8201b;
  text-decoration: none; }
  /* line 36, ../sass/base/_typography.scss */
  a:hover, a:focus {
    color: #ff0900; }

/* line 42, ../sass/base/_typography.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 50, ../sass/base/_typography.scss */
sup {
  top: -0.5em; }

/* line 54, ../sass/base/_typography.scss */
sub {
  bottom: 0.25em; }

/* No files to import found in components/**\/* */

/*# sourceMappingURL=grandstand.styles.css.map */
